 <ion-view id= "dasboard_lista_compra">
    
       <ion-tabs class="tabs-icon-top tabs-balanced">

            <ion-tab title="Compra" icon="ion-ios-cart" ui-sref="app.dashboard_casa.lista_compra">
              <ion-nav-view name="compra-tab"></ion-nav-view>
            </ion-tab>
          
            <ion-tab title="Comidas" icon="ion-android-restaurant" ui-sref="app.dashboard_casa.lista_comidas">
              <ion-nav-view name="comida-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Cenas" icon="ion-pizza" ui-sref="app.dashboard_casa.lista_cenas">
              <ion-nav-view name="cena-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>
   </ion-view>
